<!-- <div style="text-align: center;">
  <h1>Welcome to Angular 16 hooks tutorials</h1>
  <div>
    <button (click)="increment()">Increment</button>
    <button (click)="decrement()">Decrement</button>
    <button (click)="add()">Add</button>
    <app-child [myCounter]="counter" [secondValue]="secondValue" [numbers]="numbers">
      Hello, this is from Parent Component
    </app-child> 
  </div>
</div> -->
<div class="main-container">
<div class="nav-container">
  <ul>
    <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="''">Home</a></li>
    <li [routerLinkActive]="'active'"><a [routerLink]="'Courses'">Courses</a></li>
    <li [routerLinkActive]="'active'"><a [routerLink]="'Student'">Students</a></li>
    <li [routerLinkActive]="'active'"><a [routerLink]="'StudentList'">StudentList</a></li>
    <li [routerLinkActive]="'active'"><a [routerLink]="'Contact'">Contact</a></li>
    <li [routerLinkActive]="'active'"><a [routerLink]="'Aboutus'">About</a></li>
    <span style="float: right;">
      <li *ngIf="!authenticated"><a [routerLink]="'register'">Register</a></li>
      <li (click)="login()" *ngIf="!authenticated"><a>Login</a></li>
      <li (click)="logout()" *ngIf="authenticated"><a>Logout</a></li>
    </span>
  </ul>
</div>
<router-outlet></router-outlet>  
<div class="spinner" *ngIf="displayLoadingIndicator"></div>
</div>